
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;     /*spacing between child elements */
    align-items: flex-start;
}

.sidebar, .form-container {
    flex: none;  
    margin: auto 
}

header {
    display: flex; /* Establishes flex container */
    width: 100%;   /* Full width of the container */
}

.toggle {
     margin-right: auto; 
}

 .line {
    position: absolute;
    background-color: #000;  /* Color of the line */
    height: 2px;   /* Thickness of the line */
    width: 100%;    /* Full width of the container */
   margin-top: 20px;
}

.line.vertical {
    background-color: #000;     /* Color of the line */
    width: 2px;     /* Thickness of the line */
    height: 80vh; 
    align-self: center;
    left: calc(200px + 65px); /* Sidebar width plus desired space */
}


.sidebar {
    position: absolute;     /* Allows you to place the sidebar anywhere within the container */
    left: 50px;    
    top: 50%; 
    transform: translateY(-50%);   /*Center the sidebar vertically */
    width: 200px;   /*Set a fixed width for the sidebar */
}

 .circle {
    width: 100%;;
    height: 200px;
    border-radius: 50%;
    background-color: #FFA500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-right: 260px;
}

.form-group {
    margin-bottom: 20px;    /* Adds space between form elements */
    width: 100%;    /* Full width of form-container */
}

.form-group label,
.form-group input,
.form-group textarea,
.form-group button {
    display: block;  /* Make these elements block-level */
    width: 100%; 
   
}

.form-group input,
.form-group textarea {
    margin-top: 10px ; /* Add a little space below the label */
}


/* submit button */
#form button[type="submit"] {
    background-color: black; /* Set the background color to black */
    color: white;            /* Set the text color to white */
    padding: 10px 20px;      /* Add some padding to make the button taller and wider */
    border: none;            /* Remove the default border */
    width: 100%;             /* Make the button fill the container */
    cursor: pointer;         /* Change the cursor to indicate the button is clickable */
}


#form button[type="submit"]:hover {
    background-color: #333; /* Darken the button background color on hover */
}
