*Dark Mode/Light Mode Toggle*/


#darkmode-toggle {
    display: none;
}
label {
    width: 80px;
    height: 50px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rga(0,0,0,0.4), inset 0px -5px 15px rgba(255 255 255 0.4);
    cursor: pointer;
    transition: 0.3s;
   
}
label:after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.2);
}
input{
    width: 0;
    height: 0;
    visibility: hidden;
}
input:checked + label{
    background-color: #242424;
}
input:checked + label:after{
    left: 75px;     /*circle moves within the label */
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
.background{
    width: 250vw;
    height: 250vh;
    background: #fff;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}
input:checked + label + .background{
    background: #242424;
}


.post {
    border: 1px solid #000;  /* Add a border around each post */
    margin-bottom: 20px;    /* Add some space between posts */
    margin-top: 20px;
    padding: 15px;  /* Add some space inside the border */
}

.post-title {
    margin: 0 0 10px;   /* Remove default margin and add space below the title */
    padding-bottom: 5px;    /* Add a little padding below the title */
    border-bottom: 1px solid #000;  /* Add a line below the title */
}

.post-content {
    margin: 0 0 10px;   /* Remove default margin and add space below the content */
}

.post-author {
    margin: 0;  
    font-style: italic;     
}


footer {
    display: flex;  /* Enables flexbox */
    flex-direction: column; /* Stack children vertically */
    background-color: #f1f1f1; 
    padding: 20px;    /* Padding on top and bottom */
    border-top: 1px solid #e1e1e1;  /* Border at the top of the footer */
}

.footer-left p {
    margin: 5px 0; /* Margin above and below each paragraph */
}

.footer-heart {
    text-align: center;
}
.heart {
    color: red; /* This will make only the heart red */
}

@media (max-width: 600px) {
    .footer-content {
        font-size: 0.8em; /* Smaller font size on small screens */
    }
}